<!DOCTYPE html>
<html lang="en-US">

<head>
	<title>HANG MAN GAME</title>
	<meta charset="UTF-8">
</head>

<body style="text-align:center">
	<h1 style="color:red">Hang-Man</h1>
		<% if is_get_level %>
			<img src="http://i1185.photobucket.com/albums/z344/kittycatskie/doodles/Hangman.png" alt="Hangman" style="width:250px;height:200px;">
		<% end %>	
	<hr>

	<% if is_get_level %>
		<% puts "Is Get level is true" %>
		<form>
  			<input type='text' name='level' size="3"/>
  			<input type='submit' value='Difficulty Level' />
		</form>

		<p>
			<b><font color="red"><%= message %></font></b>
		</p>

	<% end %>

	<% if !is_get_level %>
		<form>
		<p>
			<img src="http://i1185.photobucket.com/albums/z344/kittycatskie/doodles/Hangman.png" alt="Hangman" style="width:200px;height:175px;">
			<%guessed_word.each do |item| %>
				<font size="6"><mark><b><%= item %></b></mark></font>
			<% end %>
		    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<b>Tries left:<%= current_try %></b>
        </p>
  		<BR>&nbsp;<BR>
  		<b>Click on a letter to choose:</b>
  		<p></p>	
  		<% available_letters.each do |item| %>
 	 	
			<% if item == "*" %>
				<b><font color="red"><%=item%></font></b>
 			<% else %>
 			    <% if !is_eof_game %>
  					<b><input type="submit" name=letter value=<%= item %>></b>
  				<% else %>
  					<b><input type="submit" name=letter value=<%= item %> disabled></b>
  				<% end %>	
  			<% end %>
  			
  		<% end %>
  		<BR>&nbsp;<BR>	
  		<b>Missed letters :</b>
		<% missed_letters.each do |item| %>
  			<mark><input type="submit" value=<%= item %> disabled></mark>
  		<% end %>
        </form>
        <form>
     	<p></p>
     	<BR>&nbsp;<BR>
  		</b><font color="red"><%= message %></font>
  		<p></p>
  			<input type="submit" name=game value='Restart'>
  			<input type="submit" name=game value='Back'>
  		<p></p>
    	</form>
	<% end %>
</body>
</html>
